@font-face {
    font-family: 'Roboto';
    src: url('../font/Roboto-Regular.ttf');
}
.container{
    -fx-background-image: url("../image/background.jpg");
    -fx-background-repeat: stretch;
    -fx-background-size: 600 400;
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0);
}
.container-full{
    -fx-background-image: url("../image/background.jpg");
    -fx-background-repeat: stretch;
    -fx-background-size: 825 487;
    -fx-background-position: center center;
}
.row{
    -fx-background-radius: 10px;
    -fx-border-color: #2095F2;
    -fx-border-width: 2;
    -fx-border-style: solid;
    -fx-border-radius: 10px;
    -fx-background-color: rgba(255, 255, 255,0.7);
}

AnchorPane{
    -fx-font-family: 'Roboto', cursive;
}

.btn{
    -fx-background-color: #2095F2;
    -fx-text-inner-color: white;
    -fx-text-fill: white;
    -fx-cursor: hand;
    -fx-background-radius: 10px;
    -fx-font-size: 15px;
}
.btn:hover{
    -fx-background-color: #68b7f6;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.2), 5, 0, 0, 5);
}

.text_title{
    -fx-font-size: 20px;
    -fx-text-fill: #444;
}
.form-control{
    -fx-font-size: 15px;
    -fx-background-color: #fafafa;
    -fx-border-color: silver;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
}
.error_title{
    -fx-font-size: 15px;
    -fx-text-fill: red;
}
.info-panel{
    -fx-font-size: 13px;
}
.ban-acc{
    -fx-font-size: 13px;
    -fx-background-color: #FFADAD;
    -fx-border-color: #EC5C5C;
    -fx-border-radius: 5px;
    -fx-border-width: 2;
    -fx-border-style: solid;
}